<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TODO</title>
    <link href="~/Content/Bootstrap/stylesheets/_bootstrap.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>

    @*DOCS: https://github.com/pagekit/vue-resource*@
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <p class="text-right">TODO: SOME BAR WITH LOGGING OPTIONS AND STUFF </p>
        </div>
        @RenderBody()
    </div>
</body>
</html>
