@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<div class="row login">
    <div class="col-xs-12">
        <p>TODO: Make it pretty:</p>
        <ul>
            <li>
                <a href="/.auth/login/facebook/callback">FB</a>
            </li>
        </ul>
    </div>
</div>