@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Me 2.0 - Your personal content aggregator (at least until I don't think about some better title)</title>
    <link href="~/Content/Bootstrap/stylesheets/_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app/app.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Me 2.0</a>
            </div>
            <ul class="nav navbar-nav">
                @*<li class="active"><a href="/">NYI</a></li>*@
            </ul>
            @if (Html.RenderContext.Context.CurrentUser != null && !string.IsNullOrEmpty(Html.RenderContext.Context.CurrentUser.UserName))
            {

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-login">
                        <a href="/.auth/logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
