<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TODO</title>
    <link href="~/Content/Bootstrap/stylesheets/_bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            NYI
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
