html {
    font-size: 16px;

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $text-color;
        background-color: $light-background;
        min-height: 100vh;
        font-size: 1rem;

        nav.navbar.navbar-default {
            background-color: $light-primary;
            border: none;
            margin-bottom: 0;

            .container-fluid {
                font-weight: 600;

                .navbar-header {
                    .navbar-brand {
                        color: $light-secondary;
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }

                ul {
                    &.nav {
                        li {
                            &.active {
                                background-color: $light-highlight;
                            }
                        }

                        .navbar-login {
                            background-color: inherit;
                            color: $text-color;

                            a {
                                color: $text-color;

                                span {
                                    color: $text-color;
                                }
                            }
                        }

                        .navbar-text {
                            color: $text-color;
                        }
                    }
                }
            }
        }

        .container {
            /*border-left-color: $light-secondary;
            border-right-color: $light-secondary;
            border-left-width: 0.0625rem;
            border-right-width: 0.0625rem;
            border-left-style: solid;
            border-right-style: solid;*/
            background-color: $background;
            min-height: 100vh;
            padding: 3rem 1.75rem 2rem 1.75rem;
        }

        a {
            cursor: pointer;
        }

        input {
            &.textinput {
                color: $primary;
                border-radius: 0.5rem;
                border-color: $light-primary;
                padding: 0.675rem 0.875rem;
                line-height: 1.5rem;
                font-size: 1.25rem;
            }
        }
    }
}
