.container .dashboard .tags-container {
  margin: 2rem 0 0 0; }
  .container .dashboard .tags-container .tags-list .tag-item {
    display: inline-block;
    border: 0.0625rem solid #006b75;
    border-radius: 0.25rem;
    margin: 0.25rem 0.25rem;
    padding: 0.125rem 0.375rem;
    background-color: #00838e;
    font-size: 1.375rem;
    cursor: pointer; }
    .container .dashboard .tags-container .tags-list .tag-item:hover {
      background-color: #ea732e;
      border-color: #E86317; }
    .container .dashboard .tags-container .tags-list .tag-item.active {
      background-color: #E86317;
      border-color: #d15915; }
      .container .dashboard .tags-container .tags-list .tag-item.active:hover {
        background-color: #009ba8;
        border-color: #00838e; }

.container .dashboard .content-container {
  margin: 2rem 0 0 0; }
  .container .dashboard .content-container .content-list .content-item {
    display: block;
    border: 0.0625rem solid #009ba8;
    border-radius: 0.25rem;
    margin: 0.25rem 0.25rem;
    padding: 0.125rem 0.375rem;
    font-size: 1.125rem; }
    .container .dashboard .content-container .content-list .content-item .content-title {
      float: right;
      font-size: 1.25rem;
      font-weight: bold; }
    .container .dashboard .content-container .content-list .content-item .content-tags-list {
      list-style: none;
      padding-left: 0.5rem; }
      .container .dashboard .content-container .content-list .content-item .content-tags-list li {
        display: inline-block;
        cursor: pointer;
        padding: 0.1875rem 0.25rem 0.1875rem 0.25rem;
        margin: 0.25rem 0.375rem 0.25rem 0.375rem; }
        .container .dashboard .content-container .content-list .content-item .content-tags-list li.tag {
          background-color: #009ba8;
          border-radius: 0.25rem; }
          .container .dashboard .content-container .content-list .content-item .content-tags-list li.tag.tagged {
            background-color: #ea732e; }
          .container .dashboard .content-container .content-list .content-item .content-tags-list li.tag:hover {
            background-color: #E86317; }
        .container .dashboard .content-container .content-list .content-item .content-tags-list li.add-tag {
          padding-left: 0; }
          .container .dashboard .content-container .content-list .content-item .content-tags-list li.add-tag span {
            color: #ea732e; }
            .container .dashboard .content-container .content-list .content-item .content-tags-list li.add-tag span:hover {
              color: #d15915; }
        .container .dashboard .content-container .content-list .content-item .content-tags-list li > a {
          color: #eee;
          display: inline-block; }
    .container .dashboard .content-container .content-list .content-item .rating-box {
      display: inline;
      float: right; }
      .container .dashboard .content-container .content-list .content-item .rating-box .rating {
        color: #009ba8;
        cursor: pointer; }
        .container .dashboard .content-container .content-list .content-item .rating-box .rating.rated {
          color: #ea732e; }
      .container .dashboard .content-container .content-list .content-item .rating-box:hover .rating {
        color: #E86317; }
      .container .dashboard .content-container .content-list .content-item .rating-box:hover .rating:hover ~ .rating {
        color: #009ba8; }

html {
  font-size: 16px; }
  html body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #313131;
    min-height: 100vh;
    font-size: 1rem; }
    html body nav.navbar.navbar-default {
      background-color: #009ba8;
      border: none;
      margin-bottom: 0; }
      html body nav.navbar.navbar-default .container-fluid {
        font-weight: 600; }
        html body nav.navbar.navbar-default .container-fluid .navbar-header .navbar-brand {
          color: #fbfbfb;
          font-size: 2rem;
          font-weight: 700;
          text-decoration: none; }
        html body nav.navbar.navbar-default .container-fluid ul.nav li.active {
          background-color: #ea732e; }
        html body nav.navbar.navbar-default .container-fluid ul.nav .navbar-login {
          background-color: inherit;
          color: #eee; }
          html body nav.navbar.navbar-default .container-fluid ul.nav .navbar-login a {
            color: #eee; }
            html body nav.navbar.navbar-default .container-fluid ul.nav .navbar-login a span {
              color: #eee; }
        html body nav.navbar.navbar-default .container-fluid ul.nav .navbar-text {
          color: #eee; }
    html body .container {
      /*border-left-color: $light-secondary;
            border-right-color: $light-secondary;
            border-left-width: 0.0625rem;
            border-right-width: 0.0625rem;
            border-left-style: solid;
            border-right-style: solid;*/
      background-color: #242424;
      min-height: 100vh;
      padding: 3rem 1.75rem 2rem 1.75rem; }
    html body a {
      cursor: pointer;
      color: #00838e; }
      html body a:hover {
        text-decoration: none;
        color: #009ba8; }
    html body input.textinput {
      color: #00838e;
      border-radius: 0.5rem;
      border-color: #009ba8;
      padding: 0.675rem 0.875rem;
      line-height: 1.5rem;
      font-size: 1.25rem; }

