@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Me20.Web.Dashboard.DashboardViewModel>

<div class="row">
    <div class="col-xs-12">
        TODO: Tag label
    </div>
    <div class="col-md-3">
        NYI
    </div>
    <div class="col-md-3">
        NYI
    </div>
    <div class="col-md-3">
        NYI
    </div>
    <div class="col-md-3">
        NYI
    </div>
</div>

