@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Me20.Web.ViewModels.DashboardViewModel>

<div id="dashboard" class="row dashboard">
    <div class="col-xs-6">
        <div class="form-group">
            <label for="new-tag">Subscribe for tag</label>
            @*TODO: Autocomplete and stuff?*@
            <input id="new-tag" v-on:keyup.enter="subscribeTag" />
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label for="new-content">Add content</label>
            @*TODO: ??No idea yet??*@
            <input id="new-content" v-on:keyup.enter="addContent" />
        </div>
    </div>
    <div class="col-xs-12 tags-container">
        @*TODO: Make it not look like shit*@
        <ul class="tags-list">
            <li v-for="tag in Tags" class="tag-item">
                {{tag.TagName}}
            </li>
        </ul>
    </div>
    @*TODO: Stuff it into component*@
    <div class="col-xs-12 content-container">
        <ul class="content-list">
            <li v-for="item in Content" class="content-item">
                <div class="row">
                    <div class="col-xs-12">
                        <a v-bind:href="item.Url" class="content-title" target="_blank">{{item.Title}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                        <ul class="content-tags-list">
                            <li class="tag" v-bind:class="{tagged : ct.TaggedByUser}" v-for="ct in item.Tags">
                                <div>
                                    {{ct.TagName}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-1">
                        <span v-on:click="item.AddTag()">TODO:ADDTAG</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        TODO: Thumbnail
                    </div>
                    <div class="col-md-8">
                        TODO: Tag/level
                        @*TODO: Stars or stuff*@
                        @for (int i = 1; i <= 5; i++)
                        {
                            <span v-on:click="rateContent(item, @i)">@i </span>
                        }
                    </div>
                </div>
                <div class="row" v-if="item.DetailsLoaded">
                    <div class="col-xs-12">
                        Rating: {{item.Rating}} | Avg Rating: {{item.AverageRating}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    AppData = {
        currentUserName: "@Model.CurrentUserName",
        contentPageSize: @Model.ContentPageSize,
        };
</script>
<script src="~/Scripts/bundles/dashboard/bundle.js"></script>